h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: aqua;
    text-align: left;
}
p{
    font-style: italic;
    color: red !important;
}
p{
    color: black;
}
body{
    background-image: url(../image/download.jpg);
    background-repeat: no-repeat ;
    height: 100vh;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}