*{
    margin: 0;
    padding: 0;
}
body{
    border: 1px solid;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(#72d6d6,#e845cc);
   /* background-image: radial-gradient(#72d6d6,#e845cc,#6200ff);*/
}